flows.json
[
  {
    "id": "flow_m2_iot_automacao",
    "type": "tab",
    "label": "Projeto M2 - Automação Residencial IoT",
    "disabled": false,
    "info": "Fluxo Node-RED para ESP32 MicroPython + MQTT + Dashboard + alertas Google Sheets/E-mail.\n\nTelemetria: casa/data\nBroker: broker.hivemq.com:1883\nComandos: casa/cmd/led, casa/cmd/relay, casa/cmd/rele, casa/cmd/buzzer, casa/cmd/servo, casa/cmd/auto"
  },
  {
    "id": "mqtt_broker_hivemq_public",
    "type": "mqtt-broker",
    "name": "HiveMQ Public Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "ui_tab_m2_iot",
    "type": "ui_tab",
    "name": "Automação M2",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_sensores",
    "type": "ui_group",
    "name": "Sensores",
    "tab": "ui_tab_m2_iot",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_atuadores",
    "type": "ui_group",
    "name": "Atuadores",
    "tab": "ui_tab_m2_iot",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Status",
    "tab": "ui_tab_m2_iot",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_alertas",
    "type": "ui_group",
    "name": "Alertas",
    "tab": "ui_tab_m2_iot",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "gauth_google_sheets_m2",
    "type": "gauth",
    "name": "Google Service Account - CONFIGURAR",
    "credentials": {
      "creds": "{\"type\": \"service_account\", \"project_id\": \"CONFIGURE_SEU_PROJECT_ID\", \"private_key_id\": \"CONFIGURE_SEU_PRIVATE_KEY_ID\", \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nCONFIGURE_AQUI_A_CHAVE_PRIVADA_DO_JSON\\n-----END PRIVATE KEY-----\\n\", \"client_email\": \"CONFIGURE_SERVICE_ACCOUNT@CONFIGURE.iam.gserviceaccount.com\", \"client_id\": \"CONFIGURE_SEU_CLIENT_ID\", \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\", \"token_uri\": \"https://oauth2.googleapis.com/token\", \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\", \"client_x509_cert_url\": \"\"}"
    }
  },
  {
    "id": "comment_overview_m2",
    "type": "comment",
    "z": "flow_m2_iot_automacao",
    "name": "Projeto M2 - ESP32 MicroPython + MQTT + Dashboard + Alertas",
    "info": "Este fluxo recebe telemetria JSON do ESP32 no tópico MQTT casa/data, atualiza o dashboard, envia comandos MQTT aos atuadores e registra alertas no Google Sheets/e-mail quando motion == true ou distance_cm < 10.\n\nAntes do Deploy final, configure:\n1) Credenciais do nó GSheet/gauth com o JSON da Service Account.\n2) SpreadsheetID e intervalo no nó GSheet.\n3) SMTP, usuário, senha de app e destinatário no nó e-mail.\n",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "comment_google_setup",
    "type": "comment",
    "z": "flow_m2_iot_automacao",
    "name": "Google Sheets: configurar credenciais JSON, SpreadsheetID e aba Alertas",
    "info": "Nó usado: node-red-contrib-google-sheets.\n\nConfiguração esperada:\n- Crie/ative Google Sheets API no Google Cloud.\n- Crie uma Service Account.\n- Baixe a chave JSON.\n- Compartilhe a planilha com o e-mail client_email da Service Account.\n- No config node gauth, cole o conteúdo completo do JSON.\n- No nó GSheet, substitua COLE_AQUI_O_SPREADSHEET_ID pelo ID da planilha.\n- Use a aba/intervalo Alertas!A2:K.\n\nCabeçalho recomendado na planilha:\ntimestamp | evento | valor | temp | humidity | distance_cm | light | motion | wifi_ip | uptime_ms | last_error",
    "x": 360,
    "y": 500,
    "wires": []
  },
  {
    "id": "comment_email_setup",
    "type": "comment",
    "z": "flow_m2_iot_automacao",
    "name": "E-mail: configurar SMTP, usuário, senha de app e destinatário",
    "info": "Nó usado: e-mail do pacote node-red-node-email.\n\nExemplo Gmail:\n- Server: smtp.gmail.com\n- Port: 465\n- Secure: true\n- TLS rejectUnauthorized: true\n- Userid: seu endereço Gmail\n- Password: senha de app do Google, não a senha normal da conta\n- Recipient: e-mail de destino no campo To/Recipient do próprio nó e-mail\n\nO Function 'Preparar linha Google Sheets e e-mail' já monta msg.topic como assunto e msg.payload como corpo da mensagem.",
    "x": 355,
    "y": 560,
    "wires": []
  },
  {
    "id": "mqtt_in_casa_data",
    "type": "mqtt in",
    "z": "flow_m2_iot_automacao",
    "name": "MQTT IN - casa/data",
    "topic": "casa/data",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker_hivemq_public",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["json_parse_casa_data"]]
  },
  {
    "id": "json_parse_casa_data",
    "type": "json",
    "z": "flow_m2_iot_automacao",
    "name": "Converter JSON para objeto",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 120,
    "wires": [["fn_distribuir_telemetria"]]
  },
  {
    "id": "fn_distribuir_telemetria",
    "type": "function",
    "z": "flow_m2_iot_automacao",
    "name": "Validar e distribuir telemetria",
    "func": "const p = msg.payload;\n\nif (typeof p !== \"object\" || p === null || Array.isArray(p)) {\n    node.warn(\"Payload casa/data inválido: esperado objeto JSON.\");\n    return [null, null, null, null, null, null, null, null, null, null];\n}\n\nfunction toNumber(value, fallback) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : fallback;\n}\n\nfunction toBoolean(value) {\n    return value === true || value === 1 || value === \"1\" || value === \"true\" || value === \"on\";\n}\n\nfunction formatUptime(ms) {\n    const totalSeconds = Math.max(0, Math.floor(toNumber(ms, 0) / 1000));\n    const days = Math.floor(totalSeconds / 86400);\n    const hours = Math.floor((totalSeconds % 86400) / 3600);\n    const minutes = Math.floor((totalSeconds % 3600) / 60);\n    const seconds = totalSeconds % 60;\n\n    if (days > 0) {\n        return `${days}d ${hours}h ${minutes}m ${seconds}s`;\n    }\n    if (hours > 0) {\n        return `${hours}h ${minutes}m ${seconds}s`;\n    }\n    if (minutes > 0) {\n        return `${minutes}m ${seconds}s`;\n    }\n    return `${seconds}s`;\n}\n\nconst normalized = {\n    temp: toNumber(p.temp, 0),\n    humidity: toNumber(p.humidity, 0),\n    distance_cm: toNumber(p.distance_cm, 0),\n    light: toNumber(p.light, 0),\n    motion: toBoolean(p.motion),\n    led: toNumber(p.led, 0),\n    relay: toNumber(p.relay, 0),\n    buzzer: toNumber(p.buzzer, 0),\n    servo_angle: toNumber(p.servo_angle, 0),\n    auto_mode: toBoolean(p.auto_mode),\n    wifi_ip: p.wifi_ip ? String(p.wifi_ip) : \"-\",\n    mqtt: p.mqtt ? String(p.mqtt) : \"desconhecido\",\n    uptime_ms: toNumber(p.uptime_ms, 0),\n    last_error: p.last_error ? String(p.last_error) : \"\"\n};\n\nmsg.payload = Object.assign({}, p, normalized);\n\nreturn [\n    { payload: normalized.temp, topic: \"Temperatura\" },\n    { payload: normalized.humidity, topic: \"Umidade\" },\n    { payload: normalized.light, topic: \"Luminosidade\" },\n    { payload: normalized.motion, topic: \"Movimento\" },\n    { payload: normalized.distance_cm.toFixed(1), topic: \"Distância\" },\n    { payload: normalized.wifi_ip, topic: \"IP WiFi\" },\n    { payload: normalized.mqtt, topic: \"MQTT\" },\n    { payload: formatUptime(normalized.uptime_ms), topic: \"Uptime\" },\n    { payload: normalized.last_error || \"sem erro\", topic: \"Último erro\" },\n    { payload: msg.payload, topic: \"Telemetria normalizada\" }\n];",
    "outputs": 10,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 120,
    "wires": [
      ["ui_gauge_temp"],
      ["ui_gauge_humidity"],
      ["ui_chart_light"],
      ["ui_template_motion"],
      ["ui_text_distance"],
      ["ui_text_wifi_ip"],
      ["ui_text_mqtt_status"],
      ["ui_text_uptime"],
      ["ui_text_last_error"],
      ["fn_filtrar_alertas", "debug_telemetria_normalizada"]
    ]
  },
  {
    "id": "ui_gauge_temp",
    "type": "ui_gauge",
    "z": "flow_m2_iot_automacao",
    "name": "Gauge Temperatura",
    "group": "ui_group_sensores",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": 50,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "25",
    "seg2": "35",
    "diff": false,
    "className": "",
    "x": 970,
    "y": 60,
    "wires": []
  },
  {
    "id": "ui_gauge_humidity",
    "type": "ui_gauge",
    "z": "flow_m2_iot_automacao",
    "name": "Gauge Umidade",
    "group": "ui_group_sensores",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Umidade",
    "label": "%",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": 100,
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": "30",
    "seg2": "60",
    "diff": false,
    "className": "",
    "x": 960,
    "y": 100,
    "wires": []
  },
  {
    "id": "ui_chart_light",
    "type": "ui_chart",
    "z": "flow_m2_iot_automacao",
    "name": "Linha Luminosidade",
    "group": "ui_group_sensores",
    "order": 3,
    "width": 12,
    "height": 5,
    "label": "Luminosidade - últimos 20 valores",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando telemetria...",
    "dot": false,
    "ymin": "0",
    "ymax": "4095",
    "removeOlder": "1",
    "removeOlderPoints": "20",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 990,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "ui_template_motion",
    "type": "ui_template",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_sensores",
    "name": "Indicador Movimento",
    "order": 4,
    "width": 6,
    "height": 1,
    "format": "<div style=\"display:flex;align-items:center;gap:12px;font-size:16px;\">\n    <span style=\"\n        display:inline-block;\n        width:22px;\n        height:22px;\n        border-radius:50%;\n        background-color: {{msg.payload ? '#2ecc71' : '#7f8c8d'}};\n        box-shadow: {{msg.payload ? '0 0 12px #2ecc71' : 'none'}};\n        border: 1px solid #444;\">\n    </span>\n    <span>\n        <strong>Movimento:</strong>\n        {{msg.payload ? 'detectado' : 'sem movimento'}}\n    </span>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 990,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "ui_text_distance",
    "type": "ui_text",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_sensores",
    "order": 5,
    "width": 6,
    "height": 1,
    "name": "Texto Distância",
    "label": "Distância",
    "format": "{{msg.payload}} cm",
    "layout": "row-spread",
    "className": "",
    "x": 970,
    "y": 220,
    "wires": []
  },
  {
    "id": "ui_text_wifi_ip",
    "type": "ui_text",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_status",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "IP WiFi",
    "label": "IP WiFi",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 960,
    "y": 260,
    "wires": []
  },
  {
    "id": "ui_text_mqtt_status",
    "type": "ui_text",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_status",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "MQTT",
    "label": "MQTT",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 960,
    "y": 300,
    "wires": []
  },
  {
    "id": "ui_text_uptime",
    "type": "ui_text",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_status",
    "order": 3,
    "width": 12,
    "height": 1,
    "name": "Uptime",
    "label": "Uptime",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 970,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui_text_last_error",
    "type": "ui_text",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_status",
    "order": 4,
    "width": 12,
    "height": 1,
    "name": "Último erro",
    "label": "Último erro",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 970,
    "y": 380,
    "wires": []
  },
  {
    "id": "mqtt_out_cmd_dynamic",
    "type": "mqtt out",
    "z": "flow_m2_iot_automacao",
    "name": "MQTT OUT - comandos ESP32",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_hivemq_public",
    "x": 760,
    "y": 780,
    "wires": []
  },
  {
    "id": "ui_btn_led_on",
    "type": "ui_button",
    "z": "flow_m2_iot_automacao",
    "name": "LED ON",
    "group": "ui_group_atuadores",
    "order": 1,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "LED ON",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "lightbulb_outline",
    "payload": "on",
    "payloadType": "str",
    "topic": "casa/cmd/led",
    "topicType": "str",
    "x": 170,
    "y": 640,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "ui_btn_led_off",
    "type": "ui_button",
    "z": "flow_m2_iot_automacao",
    "name": "LED OFF",
    "group": "ui_group_atuadores",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "LED OFF",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "highlight_off",
    "payload": "off",
    "payloadType": "str",
    "topic": "casa/cmd/led",
    "topicType": "str",
    "x": 170,
    "y": 680,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "ui_btn_relay_on",
    "type": "ui_button",
    "z": "flow_m2_iot_automacao",
    "name": "Relé ON",
    "group": "ui_group_atuadores",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Relé ON",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "power",
    "payload": "on",
    "payloadType": "str",
    "topic": "casa/cmd/relay+casa/cmd/rele",
    "topicType": "str",
    "x": 170,
    "y": 720,
    "wires": [["fn_relay_compat"]]
  },
  {
    "id": "ui_btn_relay_off",
    "type": "ui_button",
    "z": "flow_m2_iot_automacao",
    "name": "Relé OFF",
    "group": "ui_group_atuadores",
    "order": 4,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Relé OFF",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "power_off",
    "payload": "off",
    "payloadType": "str",
    "topic": "casa/cmd/relay+casa/cmd/rele",
    "topicType": "str",
    "x": 170,
    "y": 760,
    "wires": [["fn_relay_compat"]]
  },
  {
    "id": "ui_btn_buzzer_on",
    "type": "ui_button",
    "z": "flow_m2_iot_automacao",
    "name": "Buzzer ON",
    "group": "ui_group_atuadores",
    "order": 5,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Buzzer ON",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "notifications_active",
    "payload": "on",
    "payloadType": "str",
    "topic": "casa/cmd/buzzer",
    "topicType": "str",
    "x": 170,
    "y": 800,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "ui_btn_buzzer_off",
    "type": "ui_button",
    "z": "flow_m2_iot_automacao",
    "name": "Buzzer OFF",
    "group": "ui_group_atuadores",
    "order": 6,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Buzzer OFF",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "notifications_off",
    "payload": "off",
    "payloadType": "str",
    "topic": "casa/cmd/buzzer",
    "topicType": "str",
    "x": 170,
    "y": 840,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "ui_slider_servo",
    "type": "ui_slider",
    "z": "flow_m2_iot_automacao",
    "name": "Servo Slider",
    "label": "Servo",
    "tooltip": "Ângulo do servo em graus",
    "group": "ui_group_atuadores",
    "order": 7,
    "width": 6,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "casa/cmd/servo",
    "topicType": "str",
    "min": 0,
    "max": 180,
    "step": 1,
    "className": "",
    "x": 160,
    "y": 900,
    "wires": [["fn_preparar_servo"]]
  },
  {
    "id": "fn_preparar_servo",
    "type": "function",
    "z": "flow_m2_iot_automacao",
    "name": "Preparar comando servo",
    "func": "const angle = Math.max(0, Math.min(180, Math.round(Number(msg.payload))));\nmsg.payload = String(angle);\nmsg.topic = \"casa/cmd/servo\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 900,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "ui_switch_auto",
    "type": "ui_switch",
    "z": "flow_m2_iot_automacao",
    "name": "Modo Automático",
    "label": "Modo automático",
    "tooltip": "",
    "group": "ui_group_atuadores",
    "order": 8,
    "width": 6,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "casa/cmd/auto",
    "topicType": "str",
    "style": "",
    "onvalue": "on",
    "onvalueType": "str",
    "onicon": "check",
    "oncolor": "",
    "offvalue": "off",
    "offvalueType": "str",
    "officon": "close",
    "offcolor": "",
    "animate": true,
    "className": "",
    "x": 170,
    "y": 960,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "fn_filtrar_alertas",
    "type": "function",
    "z": "flow_m2_iot_automacao",
    "name": "Filtrar alertas: movimento OU distância < 10",
    "func": "const p = msg.payload || {};\n\nfunction toNumber(value) {\n    const n = Number(value);\n    return Number.isFinite(n) ? n : NaN;\n}\n\nfunction toBoolean(value) {\n    return value === true || value === 1 || value === \"1\" || value === \"true\" || value === \"on\";\n}\n\nfunction present(value) {\n    return value === undefined || value === null ? \"\" : value;\n}\n\nconst motion = toBoolean(p.motion);\nconst distance = toNumber(p.distance_cm);\nconst distanceAlert = Number.isFinite(distance) && distance < 10;\n\nif (!motion && !distanceAlert) {\n    return [null, null];\n}\n\nconst timestamp = new Date().toISOString();\nconst events = [];\n\nif (motion) {\n    events.push(\"MOVIMENTO\");\n}\n\nif (distanceAlert) {\n    events.push(\"DISTANCIA_CRITICA\");\n}\n\nconst event = events.join(\" + \");\nconst value = [\n    motion ? \"motion=true\" : \"\",\n    distanceAlert ? `distance_cm=${distance.toFixed(1)}` : \"\"\n].filter(Boolean).join(\"; \");\n\nconst row = [\n    timestamp,\n    event,\n    value,\n    present(p.temp),\n    present(p.humidity),\n    Number.isFinite(distance) ? Number(distance.toFixed(1)) : \"\",\n    present(p.light),\n    motion,\n    present(p.wifi_ip),\n    present(p.uptime_ms),\n    present(p.last_error)\n];\n\nconst sheetMsg = {\n    payload: row,\n    topic: \"Alerta IoT\",\n    alert: {\n        timestamp,\n        event,\n        value\n    }\n};\n\nconst emailMsg = {\n    topic: `[M2 IoT] ${event}`,\n    payload:\n`Alerta detectado no Projeto M2 - Automação Residencial IoT\n\nTimestamp: ${timestamp}\nEvento: ${event}\nValor: ${value}\n\nTelemetria:\n- Temperatura: ${present(p.temp)} °C\n- Umidade: ${present(p.humidity)} %\n- Distância: ${Number.isFinite(distance) ? distance.toFixed(1) : \"\"} cm\n- Luminosidade: ${present(p.light)}\n- Movimento: ${motion}\n- LED: ${present(p.led)}\n- Relé: ${present(p.relay)}\n- Buzzer: ${present(p.buzzer)}\n- Servo: ${present(p.servo_angle)}\n- Modo automático: ${present(p.auto_mode)}\n- IP WiFi: ${present(p.wifi_ip)}\n- MQTT: ${present(p.mqtt)}\n- Uptime: ${present(p.uptime_ms)} ms\n- Último erro: ${present(p.last_error)}\n\nOrigem: Node-RED / Projeto M2`\n};\n\nreturn [sheetMsg, emailMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 480,
    "wires": [["gsheet_append_alerta"], ["email_alerta_m2"]]
  },
  {
    "id": "gsheet_append_alerta",
    "type": "GSheet",
    "z": "flow_m2_iot_automacao",
    "creds": "gauth_google_sheets_m2",
    "method": "append",
    "sheet": "COLE_AQUI_O_SPREADSHEET_ID",
    "cells": "Alertas!A2:K",
    "flatten": false,
    "name": "Google Sheets - append alerta",
    "x": 760,
    "y": 460,
    "wires": [["debug_google_sheets_result"]]
  },
  {
    "id": "email_alerta_m2",
    "type": "e-mail",
    "z": "flow_m2_iot_automacao",
    "server": "smtp.gmail.com",
    "port": "465",
    "authtype": "BASIC",
    "saslformat": false,
    "token": "",
    "secure": true,
    "tls": true,
    "name": "CONFIGURE_DESTINATARIO@exemplo.com",
    "dname": "E-mail - alerta M2",
    "x": 740,
    "y": 520,
    "wires": [],
    "credentials": {
      "userid": "CONFIGURE_REMETENTE@gmail.com",
      "password": "CONFIGURE_SENHA_DE_APP"
    }
  },
  {
    "id": "ui_text_alert_info",
    "type": "ui_text",
    "z": "flow_m2_iot_automacao",
    "group": "ui_group_alertas",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Regra de alerta",
    "label": "Regra ativa",
    "format": "Alerta quando movimento=true OU distância < 10 cm",
    "layout": "row-spread",
    "className": "",
    "x": 970,
    "y": 420,
    "wires": []
  },
  {
    "id": "debug_telemetria_normalizada",
    "type": "debug",
    "z": "flow_m2_iot_automacao",
    "name": "Debug telemetria normalizada",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 480,
    "wires": []
  },
  {
    "id": "debug_google_sheets_result",
    "type": "debug",
    "z": "flow_m2_iot_automacao",
    "name": "Debug resultado Google Sheets",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 460,
    "wires": []
  },
  {
    "id": "inject_teste_payload",
    "type": "inject",
    "z": "flow_m2_iot_automacao",
    "name": "Teste local - payload exemplo",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"temp\": 25.5, \"humidity\": 60.0, \"distance_cm\": 123.4, \"light\": 1700, \"motion\": true, \"led\": 1, \"relay\": 0, \"buzzer\": 1, \"servo_angle\": 90, \"auto_mode\": true, \"wifi_ip\": \"10.10.0.2\", \"mqtt\": \"online\", \"uptime_ms\": 123456, \"last_error\": \"\"}",
    "payloadType": "json",
    "x": 160,
    "y": 180,
    "wires": [["json_parse_casa_data"]]
  },
  {
    "id": "fn_relay_compat",
    "type": "function",
    "z": "flow_m2_iot_automacao",
    "name": "Publicar Relé em relay e rele",
    "func": "const payload = String(msg.payload);\nreturn [[\n    { topic: \"casa/cmd/relay\", payload },\n    { topic: \"casa/cmd/rele\", payload }\n]];",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 740,
    "wires": [["mqtt_out_cmd_dynamic"]]
  },
  {
    "id": "inject_alert_rule_text",
    "type": "inject",
    "z": "flow_m2_iot_automacao",
    "name": "Inicializar texto regra de alerta",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "Alerta quando movimento=true OU distância < 10 cm",
    "payloadType": "str",
    "x": 190,
    "y": 420,
    "wires": [["ui_text_alert_info"]]
  }
]
